<!-- START FOOTER DESIGN AREA -->
<footer class="main-footer">
  <div class="container">
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-12">
        <div class="footer-top">
          <p>Have a project in mind?</p>
          <h2 class="text-[120px] max-[490px]:text-[100px] max-[350px]:text-[80px] md:text-[140px] lg:text-[130px] xl:text-[180px]"><a href="mailto:hello@websitename.com">let's work</a></h2>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-12 sm:col-span-6">
        <p class="copy-left-text">
          Template by
          <a href="https://themeforest.net/user/creativepersonal/portfolio">Creative Personal®</a>
        </p>
      </div>
      <div class="col-span-12 sm:col-span-6">
        <p class="copy-right-text">&copy; Copyright 2024</p>
      </div>
    </div>
  </div>
</footer>
<!-- / END FOOTER DESIGN AREA -->
