{% load static %}

<!-- START MENU DESIGN AREA -->
<header class="main-header">
  <div class="header-upper">
    <div class="container">
      <div class="header-inner">
        <div class="grid grid-cols-12 items-center gap-6">
          <div class="col-span-6 sm:col-span-3 xl:col-span-2">
            <div class="logo-area">
              <div class="logo">
                <a href="index.html"><img class="h-12" src="{% static 'assets/images/logo.png' %}" alt="" /></a>
              </div>
            </div>
          </div>
          <div class="col-span-6 sm:col-span-9 xl:col-span-10">
            <div class="main-menu">
              <nav id="mobile-menu">
                <ul>
                  <li>
                    <a href="index.html" class="linkstyle">Home</a>
                  </li>
                  <li>
                    <a href="about.html" class="linkstyle">about</a>
                  </li>
                  <li>
                    <a href="service.html" class="linkstyle">services</a>
                  </li>
                  <li class="has-dropdown group">
                    <a href="projects.html" class="linkstyle">projects</a>
                    <ul class="sub-menu">
                      <li>
                        <a href="projects.html">Projects List</a>
                      </li>
                      <li>
                        <a href="single-project.html">Single Portfolio</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="blog.html" class="linkstyle">Blog</a>
                  </li>
                  <li>
                    <a href="contact.html" class="linkstyle">Contact</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="side-menu-icon text-end lg:hidden">
              <a href="javascript:void(0)" class="info-toggle-btn sidebar-toggle-btn"><i class="fal fa-bars"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- // END MENU DESIGN AREA -->
<!-- START MOBILE MENU DESIGN AREA -->
<div class="sidebar__area">
  <div class="sidebar__wrapper">
    <div class="sidebar__close">
      <button class="sidebar__close-btn" id="sidebar__close-btn"><i class="fal fa-times"></i></button>
    </div>
    <div class="sidebar__content mb-[20px] mt-[50px]">
      <div class="mobile-menu fix"></div>
    </div>
  </div>
</div>
<div class="body-overlay"></div>
<!-- // END MOBILE MENU DESIGN AREA -->
