{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- START HEADER DESIGN AREA -->
<section id="home" class="bg-primaryColor pt-[115px]">
  <div class="container">
    <div class="grid grid-cols-12">
      <div class="col-span-12">
        <!-- START HERO DESIGN AREA -->
        <div class="wow fadeInUp delay-0-2s p-0 text-center">
          <h2
            class="text-center text-[70px] font-medium uppercase text-mainColor md:text-[120px] lg:text-[170px] xl:text-[230px]">
            Siddharth</h2>
        </div>
        <!-- / END HERO DESIGN AREA -->
      </div>
    </div>
    <div class="grid grid-cols-12 max-lg:overflow-hidden lg:gap-6">
      <div class="col-span-12 pt-8 lg:col-span-3">
        <!-- START HERO DESIGN AREA -->
        <div class="hero-content wow fadeInUp delay-0-2s max-xl:p-0 max-md:p-0">
          <div class="clienti-reviews">
            <ul class="clienti-profile">
              <li>
                <img class="img-fluid border-2 border-gray-500" src="{% static 'assets/images/avatar/01.png' %}"
                  alt="client" />
              </li>
              <li>
                <img class="img-fluid border-2 border-gray-500" src="{% static 'assets/images/avatar/02.png' %}"
                  alt="client" />
              </li>
              <li>
                <img class="img-fluid border-2 border-gray-500" src="{% static 'assets/images/avatar/03.png' %}"
                  alt="client" />
              </li>
            </ul>
            <div class="reviews">
              15+ reviews <span>(4.96 of 5)</span>
              <p>Five-star reviews from my esteemed clients.</p>
            </div>
          </div>
        </div>
        <!-- / END HERO DESIGN AREA -->
      </div>
      <div class="col-span-12 lg:col-span-6">
        <div class="hero-image lg:-mt-[100px]">
          <img src="{% static 'assets/images/about/me.png' %}" alt="" />
        </div>
        <!-- / END HERO DESIGN AREA -->
      </div>
      <div class="col-span-12 pt-8 lg:col-span-3">
        <div class="hero-content wow fadeInUp delay-0-4s">
          <p class="pb-4">Hi, I’m Siddharth, a passionate Full Stack Developer dedicated to creating user-friendly
            digital experiences.</p>
          <a class="theme-btn" href="#">Get In touch</a>
        </div>
        <!-- / END HERO DESIGN AREA -->
      </div>
    </div>
  </div>
</section>
<!-- / END HEADER DESIGN AREA -->

<!-- START COMPANY DESIGN AREA -->
<div class="company-design-area">
  <div class="container">
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-12">
        <h2>Company I Worked With</h2>
        <div class="company-list">
          <div class="scroller" data-animated="true" data-direction="left" data-speed="slow">
            <div class="scroller__inner font-bold text-lg tracking-wider select-none">
              <span class="text-center">Creative <br /> Monk</span>
              <span class="text-center">Chandigarh Academy <br /> of Digital Learning</span>
              <span class="text-center">Mandeep Nain <br /> And Associates</span>
              <span class="text-center">Chatha <br /> Foods</span>
              <span class="text-center">Brightlight <br /> Immigration</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // END COMPANY DESIGN AREA -->

<!-- START ABOUT DESIGN AREA -->
<section id="about" class="about-area">
  <div class="container">
    <div class="grid grid-cols-12 gap-6">
      <!-- START ABOUT TEXT DESIGN AREA -->
      <div class="col-span-12 sm:col-span-3">
        <h2 class="about-pre-title">About Me</h2>
      </div>
      <div class="col-span-12 sm:col-span-9">
        <div class="about-content-part wow fadeInUp delay-0-2s max-md:px-0">
          <p>I'm Siddharth Tiwari, a passionate final-year B.Tech (Information Technology) student aspiring to become a
            Data Scientist. With a strong foundation in Python and Django, I actively build web projects, explore
            machine learning, and contribute to open-source initiatives.</p>
        </div>
        <!-- START COUNTER DESIGN AREA -->
        <div class="hero-counter-area wow fadeInUp delay-0-4s flex items-center justify-between">
          <div class="counter-item counter-text-wrap">
            <span class="count-text plus" data-speed="3000" data-stop="3">0</span>
            <span class="counter-title">Years Of Experience</span>
          </div>
          <div class="counter-item counter-text-wrap">
            <span class="count-text plus" data-speed="3000" data-stop="50">0</span>
            <span class="counter-title">Complete Projects</span>
          </div>
          <div class="counter-item counter-text-wrap">
            <span class="count-text percent" data-speed="3000" data-stop="90">0</span>
            <span class="counter-title">Client Satisfactions</span>
          </div>
        </div>
        <!-- / END COUNTER DESIGN AREA -->
      </div>
      <!-- / END ABOUT TEXT DESIGN AREA -->
    </div>
  </div>
</section>
<!-- / END ABOUT DESIGN AREA -->

<!-- START SERVICE DESIGN AREA -->
<section id="services" class="services-area">
  <div class="container">
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-12">
        <div class="section-title section-black-title wow fadeInUp delay-0-2s">
          <h2>Services</h2>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-12 md:col-span-7">
        <div class="service-item wow fadeInUp delay-0-2s">
          <i class="ri-arrow-right-up-line"></i>
          <h5>01</h5>
          <h4>Web Development</h4>
          <p>Crafting responsive and dynamic web applications using modern front-end (React, HTML, CSS, JavaScript) and
            back-end (Django, Node.js) technologies to deliver seamless user experiences.</p>
        </div>
      </div>
      <div class="col-span-12 md:col-span-5 ">
        <div class="service-item wow fadeInUp delay-0-4s">
          <i class="ri-arrow-right-up-line"></i>
          <h5>02</h5>
          <h4>Machine Learning Solutions</h4>
          <p>Developing and deploying intelligent machine learning models with TensorFlow and Hugging Face for
            predictive analytics, natural language processing, and computer vision applications.</p>
        </div>
      </div>
      <div class="col-span-12 md:col-span-5 ">
        <div class="service-item wow fadeInUp delay-0-6s">
          <i class="ri-arrow-right-up-line"></i>
          <h5>03</h5>
          <h4>Data Analysis & Visualization</h4>
          <p>Transforming raw data into actionable insights through in-depth analysis and compelling visualizations
            using SQL, Power BI, Python (NumPy, Pandas), and other advanced tools.</p>
        </div>
      </div>
      <div class="col-span-12 md:col-span-7 ">
        <div class="service-item wow fadeInUp delay-0-8s">
          <i class="ri-arrow-right-up-line"></i>
          <h5>04</h5>
          <h4>Backend Development & APIs</h4>
          <p>Building robust and scalable server-side applications, RESTful APIs, and microservices. Expertise includes
            database management, authentication, and secure payment gateway integrations.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / END SERVICE DESIGN AREA -->

<!-- START PORTFOLIO DESIGN AREA -->
<div class="projects-area container mx-auto" id="portfolio">
  <div class="custom-icon">
    <img src="{% static 'assets/images/custom/work-scribble.svg' %}" alt="custom" />
  </div>
  <div class="container-fluid">
    <div class="portfolio-grid grid grid-cols-12 gap-6">
      <!-- START SINGLE PORTFOLIO DESIGN AREA -->
      <div class="portfolio-item category-1 col-span-12 md:col-span-6">
        <a href="https://www.advmandeepnain.com/" >
          <div class="portfolio-box">
            <!-- Image -->
            <img src="{% static 'assets/images/projects/work1.png' %}" alt="" data-rjs="2" />
            <!-- Category -->
            <span class="portfolio-category">NEXT JS</span>
            <!-- Caption -->
            <div class="portfolio-caption">
              <h1>Mandeep Nain & Associates</h1>
            </div>
          </div>
        </a>
      </div>
      <!-- // END SINGLE PORTFOLIO DESIGN AREA -->
      <!-- START SINGLE PORTFOLIO DESIGN AREA -->
      <div class="portfolio-item category-2 col-span-12 md:col-span-6">
        <a href="https://antiquewhite-lobster-817950.hostingersite.com/">
          <div class="portfolio-box">
            <!-- Image -->
            <img src="{% static 'assets/images/projects/work2.png' %}" alt="" data-rjs="2" />
            <!-- Category -->
            <span class="portfolio-category">PHP/WORDPRESS</span>
            <!-- Caption -->
            <div class="portfolio-caption">
              <h1>Creative Monk</h1>
            </div>
          </div>
        </a>
      </div>
      <!-- // END SINGLE PORTFOLIO DESIGN AREA -->
      <!-- START SINGLE PORTFOLIO DESIGN AREA -->
      <div class="portfolio-item category-2 col-span-12 md:col-span-6 xl:col-span-4">
        <a href="https://cadl.in/" class="">
          <div class="portfolio-box">
            <!-- Image -->
            <img src="{% static 'assets/images/projects/work3.png' %}" alt="" data-rjs="2" />
            <!-- Category -->
            <span class="portfolio-category">PHP</span>
            <!-- Caption -->
            <div class="portfolio-caption">
              <h1>CADL</h1>
            </div>
          </div>
        </a>
      </div>
      <!-- // END SINGLE PORTFOLIO DESIGN AREA -->
      <!-- START SINGLE PORTFOLIO DESIGN AREA -->
      <div class="portfolio-item category-1 col-span-12 md:col-span-6 xl:col-span-4">
        <a href="https://crebites.com/" >
          <div class="portfolio-box">
            <!-- Image -->
            <img src="{% static 'assets/images/projects/work4.png' %}" alt="" data-rjs="2" />
            <!-- Category -->
            <span class="portfolio-category">HTML/CSS</span>
            <!-- Caption -->
            <div class="portfolio-caption">
              <h1>CREBIT TOKEN</h1>
            </div>
          </div>
        </a>
      </div>
      <!-- // END SINGLE PORTFOLIO DESIGN AREA -->
      <!-- START SINGLE PORTFOLIO DESIGN AREA -->
      <div class="portfolio-item category-2 col-span-12 md:col-span-6 xl:col-span-4">
        <a href="https://lightsteelblue-porpoise-636266.hostingersite.com/" >
          <div class="portfolio-box">
            <!-- Image -->
            <img src="{% static 'assets/images/projects/work5.png' %}" alt="" data-rjs="2" />
            <!-- Category -->
            <span class="portfolio-category">PHP</span>
            <!-- Caption -->
            <div class="portfolio-caption">
              <h1>Chatha Foods</h1>
            </div>
          </div>
        </a>
      </div>
      <!-- // END SINGLE PORTFOLIO DESIGN AREA -->
    </div>
  </div>
</div>
<!-- // END PORTFOLIO DESIGN AREA -->

<!-- START TESTIMONIALS DESIGN AREA -->
<section class="testimonials-area">
  <div class="container">
    <div class="gird grid-cols-12">
      <div class="lg:col-span-12">
        <div class="section-title section-black-title wow fadeInUp delay-0-2s">
          <h2>Testimonials</h2>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-12 md:col-span-6">
        <div class="testimonial-item wow fadeInUp delay-0-2s">
          <div class="author">
            <img src="{% static 'assets/images/testimonials/author1.png' %}"
              class="object-contain border-2 border-gray-500" alt="Author" />
          </div>
          <div class="text">Siddharth developed a sleek consultancy website for us using React, aimed at expanding
            our client base. His attention to user experience and seamless integration made the platform highly
            effective and easy to navigate. I'm truly impressed with his professionalism and delivery.</div>
          <div class="testi-des">
            <h5>Mandeep Nain</h5>
            <span>Founder, Mandeep Nain & Associates</span>
          </div>
        </div>
      </div>
      <div class="col-span-12 md:col-span-6">
        <div class="testimonial-item wow fadeInUp delay-0-4s">
          <div class="author">
            <img src="{% static 'assets/images/testimonials/author2.png' %}"
              class="object-contain border-2 border-gray-500" alt="Author" />
          </div>
          <div class="text">Siddharth built our social media agency site using PHP and WordPress, delivering a
            stylish and responsive web presence that truly stands out. His ability to translate business vision into
            digital reality made the collaboration smooth and rewarding.</div>
          <div class="testi-des">
            <h5>Sahil Sehgal</h5>
            <span>Founder & CEO, Creative Monk</span>
          </div>
        </div>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="testimonial-item wow fadeInUp delay-0-6s">
          <div class="author">
            <img src="{% static 'assets/images/testimonials/author3.png' %}"
              class="object-contain border-2 border-gray-500" alt="Author" />
          </div>
          <div class="text">Our academy needed a fresh, modern website, and Siddharth delivered exactly that using
            PHP, HTML, and CSS. The site is intuitive, aesthetically pleasing, and reflects our values
            perfectly. His structured development process made everything so simple.</div>
          <div class="testi-des">
            <h5>Shalini Pandit</h5>
            <span>Founder, Chandigarh Academy of Digital Learning</span>
          </div>
        </div>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="testimonial-item wow fadeInUp delay-0-8s">
          <div class="author">
            <img src="{% static 'assets/images/testimonials/author4.png' %}"
              class="object-contain border-2 border-gray-500" alt="Author" />
          </div>
          <div class="text">Siddharth created our marketing agency’s platform using Next.js, and the result was
            exceptional. The performance, scalability, and visual polish he brought to the project have significantly
            elevated our brand presence. Truly a top-tier developer.</div>
          <div class="testi-des">
            <h5>Mr. Gautam</h5>
            <span>Founder & CEO, Digibeez</span>
          </div>
        </div>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="testimonial-item wow fadeInUp delay-0-9s">
          <div class="author">
            <img src="{% static 'assets/images/testimonials/author5.png' %}"
              class="object-contain border-2 border-gray-500" alt="Author" />
          </div>
          <div class="text">We trusted Siddharth to design our crypto website using plain HTML, CSS, JS, and
            Tailwind, and the results speak for themselves. The site is blazing fast, beautifully laid out, and
            technically flawless. He's the real deal when it comes to frontend mastery.</div>
          <div class="testi-des">
            <h5>Vishal Singh</h5>
            <span>CEO, Crebit Token</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / END TESTIMONIALS DESIGN AREA -->



<!-- START CONTACT DESIGN AREA -->
<section id="contact" class="contact-area">
  <div class="container">
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-12">
        <div class="section-title section-black-title wow fadeInUp delay-0-2s">
          <h2>Contact Me</h2>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-12 lg:col-span-4">
        <div class="contact-content-part wow fadeInUp delay-0-2s">
          <!-- START CONTACT SINGLEDESIGN AREA -->
          <div class="single-contact wow fadeInUp" data-wow-delay=".2s">
            <span class="circle-btn"><i class="ri-map-pin-line"></i></span>
            <h2>my location:</h2>
            <p>Lucknow, Uttar Pradesh, India</p>
            <p>Chandigarh, India</p>
          </div>
          <!-- / END CONTACT SINGLEDESIGN AREA -->
          <!-- START CONTACT SINGLEDESIGN AREA -->
          <div class="single-contact wow fadeInUp" data-wow-delay=".4s">
            <span class="circle-btn"><i class="ri-headphone-line"></i></span>
            <h2>contact number:</h2>
            <p>+91 6307862150</p>
          </div>
          <!-- / END CONTACT SINGLEDESIGN AREA -->
          <!-- START CONTACT SINGLEDESIGN AREA -->
          <div class="single-contact wow fadeInUp" data-wow-delay=".6s">
            <span class="circle-btn"><i class="ri-mail-line"></i></span>
            <h2>Email us:</h2>
            <p>siddharthgreat443@gmail.com</p>
          </div>
          <!-- / END CONTACT SINGLEDESIGN AREA -->
          <!-- START CONTACT SINGLEDESIGN AREA -->
          <div class="single-contact wow fadeInUp" data-wow-delay=".6s">
            <h2>Socials</h2>
            <div class="about-social">
              <ul>
                <li>
                  <a href="https://www.instagram.com/_llsiddharthll_/"><i class="ri-instagram-fill"></i></a>
                </li>
                <li>
                  <a href="https://x.com/Siddhar87070217"><i class="ri-twitter-x-line"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/siddharth-tiwari-553735295/"><i class="ri-linkedin-fill"></i></a>
                </li>
                <li>
                  <a href="https://github.com/llSiddharthll"><i class="ri-github-line"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- / END CONTACT SINGLEDESIGN AREA -->
        </div>
      </div>
      <!-- START CONTACT FORM DESIGN AREA -->
      <div class="col-span-12 lg:col-span-8">
        <div class="contact-form contact-form-area wow fadeInUp delay-0-4s">
          <form id="contactForm" class="contact-form" action="#" method="post">
            <div class="grid grid-cols-12 !gap-6">
              <div class="col-span-12 md:col-span-6">
                <div class="form-group relative">
                  <label for="name">Full Name</label>
                  <input type="text" id="name" class="form-control" value="" placeholder="Your Full Name" required=""
                    data-error="Please enter your Name" />
                  <label for="name" class="for-icon"><i class="far fa-user"></i></label>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-span-12 md:col-span-6">
                <div class="form-group">
                  <label for="email">Email Address</label>
                  <input type="email" id="email" class="form-control" value="" placeholder="Your Email" required=""
                    data-error="Please enter your Email" />
                  <label for="email" class="for-icon"><i class="far fa-envelope"></i></label>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-span-12 md:col-span-12">
                <div class="form-group">
                  <label for="name">Subject</label>
                  <input type="text" id="subject" class="form-control" value="" placeholder="Your Subject" required=""
                    data-error="Please enter your Name" />
                  <label for="name" class="for-icon"><i class="far fa-user"></i></label>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-span-12 md:col-span-12">
                <div class="form-group">
                  <label for="message">Your Message</label>
                  <textarea name="message" id="message" class="form-control" rows="4" placeholder="Write Your message"
                    required="" data-error="Please Write your Message"></textarea>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-span-12 md:col-span-12">
                <div class="form-group mb-0">
                  <button type="submit" class="theme-btn">Send Me Message <i class="ri-mail-line"></i></button>
                  <div id="msgSubmit" class="hidden"></div>
                </div>
              </div>
              <div class="col-span-12 text-center md:col-span-12">
                <p class="input-success">We have received your mail, We will get back to you soon!</p>
                <p class="input-error">Sorry, Message could not send! Please try again.</p>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- / END CONTACT FORM DESIGN AREA -->
    </div>
  </div>
</section>
<!-- / END CONTACT DESIGN AREA -->
{% endblock %}