{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- START SINGLE PAGE DESIGN AREA -->
<section class="single-page-hero-area">
    <div class="container">
        <div class="grid grid-cols-12 items-center gap-6">
            <div class="col-span-12">
                <h2>Projects</h2>
                <p class="pt-20">
                    A Collection of My Latest Works and Achievements: Discover the
                    Projects that Define My Passion and Skills
                </p>
            </div>
        </div>
    </div>
</section>
<!-- // END SINGLE PAGE DESIGN AREA -->
<!-- START PORTFOLIO DESIGN AREA -->
<div class="projects-area bg-blackColor" id="portfolio">
    <div class="custom-icon">
        <img src="assets/images/custom/work-scribble.svg" alt="custom" />
    </div>
    <div class="container-fluid">
        <div class="portfolio-grid grid grid-cols-12 gap-6">
      <!-- START SINGLE PORTFOLIO DESIGN AREA -->
      <div class="portfolio-item category-1 col-span-12 md:col-span-6">
        <a href="{% static 'assets/images/projects/work1.png' %}" class="work-popup">
          <div class="portfolio-box">
            <!-- Image -->
            <img src="{% static 'assets/images/projects/work1.png' %}" alt="" data-rjs="2" />
            <!-- Category -->
            <span class="portfolio-category">NEXT JS</span>
            <!-- Caption -->
            <div class="portfolio-caption">
              <h1>Mandeep Nain & Associates</h1>
            </div>
          </div>
        </a>
      </div>
      <!-- // END SINGLE PORTFOLIO DESIGN AREA -->
      <!-- START SINGLE PORTFOLIO DESIGN AREA -->
      <div class="portfolio-item category-2 col-span-12 md:col-span-6">
        <a href="single-project.html">
          <div class="portfolio-box">
            <!-- Image -->
            <img src="{% static 'assets/images/projects/work2.png' %}" alt="" data-rjs="2" />
            <!-- Category -->
            <span class="portfolio-category">PHP/WORDPRESS</span>
            <!-- Caption -->
            <div class="portfolio-caption">
              <h1>Creative Monk</h1>
            </div>
          </div>
        </a>
      </div>
      <!-- // END SINGLE PORTFOLIO DESIGN AREA -->
      <!-- START SINGLE PORTFOLIO DESIGN AREA -->
      <div class="portfolio-item category-2 col-span-12 md:col-span-6 xl:col-span-4">
        <a href="https://www.youtube.com/watch?v=qZEPs3vmYB4" class="popup-youtube">
          <div class="portfolio-box">
            <!-- Image -->
            <img src="{% static 'assets/images/projects/work3.png' %}" alt="" data-rjs="2" />
            <!-- Category -->
            <span class="portfolio-category">PHP</span>
            <!-- Caption -->
            <div class="portfolio-caption">
              <h1>CADL</h1>
            </div>
          </div>
        </a>
      </div>
      <!-- // END SINGLE PORTFOLIO DESIGN AREA -->
      <!-- START SINGLE PORTFOLIO DESIGN AREA -->
      <div class="portfolio-item category-1 col-span-12 md:col-span-6 xl:col-span-4">
        <a href="{% static 'assets/images/projects/work4.png' %}" class="work-popup">
          <div class="portfolio-box">
            <!-- Image -->
            <img src="{% static 'assets/images/projects/work4.png' %}" alt="" data-rjs="2" />
            <!-- Category -->
            <span class="portfolio-category">HTML/CSS</span>
            <!-- Caption -->
            <div class="portfolio-caption">
              <h1>CREBIT TOKEN</h1>
            </div>
          </div>
        </a>
      </div>
      <!-- // END SINGLE PORTFOLIO DESIGN AREA -->
      <!-- START SINGLE PORTFOLIO DESIGN AREA -->
      <div class="portfolio-item category-2 col-span-12 md:col-span-6 xl:col-span-4">
        <a href="{% static 'assets/images/projects/work5.png' %}" class="work-popup">
          <div class="portfolio-box">
            <!-- Image -->
            <img src="{% static 'assets/images/projects/work5.png' %}" alt="" data-rjs="2" />
            <!-- Category -->
            <span class="portfolio-category">PHP</span>
            <!-- Caption -->
            <div class="portfolio-caption">
              <h1>Chatha Foods</h1>
            </div>
          </div>
        </a>
      </div>
      <!-- // END SINGLE PORTFOLIO DESIGN AREA -->
    </div>
    </div>
</div>
<!-- // END PORTFOLIO DESIGN AREA -->

{% endblock content %}